<form action="/todos/{{ todo._id }}?_method=DELETE" method="POST" style="display: inline;">
  <div class="input-group">

    <div class="input-group-text">
      <input type="checkbox" name="isDone" {{#if todo.isDone}} checked {{/if}} class="form-check-input mt-0" disabled>
    </div>

    <input type="text" placeholder="name" name="name" value="{{ todo.name }}" class="form-control" disabled>

    <a href="/todos/{{ todo._id }}/edit" class="btn btn-success">edit</a>
    <button type="submit" class="btn btn-danger">delete</button>

  </div>
</form>